@font-face {
    font-family: texgyre;
    src: url(../fonts/texgyreheroscn-regular.otf)
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

body {
    font-family: texgyre, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: .35;
    line-height: 1.075;
    margin: 0;
    color: #f1f1f1;
}

h1 {
    font-size: 12pt;
    text-transform: uppercase;
}

#deets {
    background-color: black;
    color: #f1f1f1;
    padding: .45rem;
    width: 100vw;
}

#anim {
    width: 100%;
    /* height = 100vh - .clientHeight of #deets */
    height: calc(100vh - var(--deetsH));
    text-align: center;
}

#anim svg {
    width: 50vw !important;
}