body, html {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

body, h1, h2, h3, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    font-weight: 100;
    letter-spacing: .25;
    line-height: 1;
    margin: 0;
    color: #f1f1f1;
}

h1 {
    text-transform: uppercase;
}

#deets {
    background-color: red;
    color: #f1f1f1;
    padding: .35rem;
    width: 50vw;
}

#anim {
    width: 100%;
    height: calc(100vh - deetsHeight);
}