@font-face {
    font-family: texgyre;
    src: url(../fonts/texgyreheroscn-regular.otf)
}

:root {
    --pink: rgba(255, 170, 199, 1);
    --blue: rgb(46, 27, 129);
    --lime: rgb(191, 255, 0);
    --blk: #202020;
    --wht: #f2f2f2;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--lime);
}

body {
    font-family: texgyre, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: .35;
    line-height: 1.075;
    margin: 0;
    color: var(--pink);
}

h1 {
    font-size: 12pt;
    text-transform: uppercase;
}

p {
    filter: blur(2px);
}

h1:hover, p:hover {
    filter: blur(0);
    cursor: wait;
    transition: .4s;
}

#deets {
    background-color: var(--blk);
    color: var(--wht);
    padding: .45rem;
    width: 100vw;
}

#anim {
    width: 100%;
    /* height = 100vh - .clientHeight of #deets */
    height: calc(100vh - var(--deetsH));
    text-align: center;
}

#anim svg {
    width: 50vw !important;
}